
h1{
    font-size:36px; font-family: 'Times New Roman', Times, serif; color:#FFFFFF; margin:0;
}

h2{
    font-size: 32px; color: #48BB78;
}

h3{
    color: #718096;
    padding-top: 5px;
}

ul{
    font-size: ;
}

.About{
    margin: 0 auto;
    background-color: #E2E8F0;
    padding: 5px;
}

.Social{
    font-size: 18px;
}

.Archive{
    font-size: 18px;
}

body{
    margin: 0;
}

.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: auto;
    margin: 0 auto; /* centers the div */
    display: grid;
    grid-template-columns: 70% 30% ;
  }
  
  header {
    color: #FFFFFF;
    background: #63B3ED;
    text-align: center;
    justify-content:center;
    padding: 30px;
    grid-column:span 2; /* or span 2*/
  }
  
  article {
    grid-column: 1;
    padding: 16px;
  }
  
  aside {
    grid-column: 2;
    background: white;
    padding: 16px;
  }
  
  footer {
  /*   clear: both; */
    background: #2C5282;
    color: white;
    padding: 10px;
    grid-column: 1 / 3;
  }